<fieldset class="target">
  <tr id="payment-<%= f.object.to_param %>" class="span9">
    <td><%= link_to '&#xe04e;'.html_safe, payment_more_info_path(f.object) ,class: 'iconic', remote: true if f.object.persisted? %></td>
    <td><%= f.input :date, as: :date_picker, label: false, input_html: { class: 'input-medium' } %></td>
    <%= f.input :trust_fund_id, as: :hidden, value: f.object, label: false %>
    <td><%= f.input :pay_day, label: false, input_html: { class: 'input-medium' } %></td>
    <td><%= f.input :amortization, label: false, input_html: { class: 'input-medium' } %></td>
    <td><%= f.input :amount, label: false, input_html: { class: 'input-medium' } %></td>
    <%= f.input :id, as: :hidden %>
    <%= f.input :lock_version, as: :hidden %>
    <td><%= link_to_remove_nested_item(f) %></td>
    <td><div class="info-<%= f.object.id %> span3 more-info"></div></td>
  </tr>
</fieldset>
