<div class="readonly-data">
  <h2>
    <%= @trust_fund.name %>
  </h2>
  <p>
    <strong><%= TrustFund.human_attribute_name 'base' %></strong>:
    <%= @trust_fund.base %>
  </p>
  <p>
    <strong><%= TrustFund.human_attribute_name 'coupon_tv' %></strong>:
    <%= @trust_fund.coupon_tv %>
  </p>
  <p>
    <strong><%= TrustFund.human_attribute_name 'coupon_tv_cap' %></strong>:
    <%= @trust_fund.coupon_tv_cap %>
  </p>
  <p>
    <strong><%= TrustFund.human_attribute_name 'coupon_tv_floor' %></strong>:
    <%= @trust_fund.coupon_tv_floor %>
  </p>
  <p>
    <strong><%= TrustFund.human_attribute_name 'nominal_value' %></strong>:
    <%= @trust_fund.nominal_value %>
  </p>
  <p>
    <strong><%= TrustFund.human_attribute_name 'differential_margin' %></strong>:
    <%= @trust_fund.differential_margin %>
  </p>
  <p>
    <strong><%= TrustFund.human_attribute_name 'broadcast_cost' %></strong>:
    <%= @trust_fund.broadcast_cost %>
  </p>
  <p>
    <strong><%= TrustFund.human_attribute_name 'price' %></strong>:
    <%= @trust_fund.price %>
  </p>
  <p>
    <strong><%= TrustFund.human_attribute_name 'rating' %></strong>:
    <%= @trust_fund.rating %>
  </p>
  <p>
    <strong><%= TrustFund.human_attribute_name 'buy_date' %></strong>:
    <%= @trust_fund.buy_date %>
  </p>
  <p>
    <strong><%= TrustFund.human_attribute_name 'settlement_date' %></strong>:
    <%= @trust_fund.settlement_date %>
  </p>
  <p>
    <strong><%= TrustFund.human_attribute_name 'broadcast_date' %></strong>:
    <%= @trust_fund.broadcast_date %>
  </p>
  <p>
    <strong><%= TrustFund.human_attribute_name 'expiration_date' %></strong>:
    <%= @trust_fund.expiration_date %>
  </p>
  <p>
    <strong><%= TrustFund.human_attribute_name 'tenancy' %></strong>:
    <%= @trust_fund.tenancy %>
  </p>
  <p>
    <strong><%= TrustFund.human_attribute_name 'purchase_price' %></strong>:
    <%= @trust_fund.purchase_price %>
  </p>
  <p>
    <strong><%= TrustFund.human_attribute_name 'tcpe' %></strong>:
    <%= @trust_fund.tcpe %>
  </p>
  <p>
    <strong><%= TrustFund.human_attribute_name 'minimal_cost' %></strong>:
    <%= @trust_fund.minimal_cost %>
  </p>
  <p>
    <strong><%= TrustFund.human_attribute_name 'maximal_cost' %></strong>:
    <%= @trust_fund.maximal_cost %>
  </p>
  <p>
    <strong><%= TrustFund.human_attribute_name 'cut_date' %></strong>:
    <%= @trust_fund.cut_date %>
  </p>

</div>
<div class="form-actions">
  <%= link_to t('label.edit'), edit_trust_fund_path(@trust_fund) if can? :update, @trust_fund %> |
  <%= link_to t('label.list'), trust_funds_path %>
</div>
