    <p>
      <strong><%= Payment.human_attribute_name 'residual_value' %></strong>:
      <%= residual_value_in_percentage(@payment) %>
    </p>
    <p>
      <strong><%= Payment.human_attribute_name 'amount' %></strong>
      <%= number_to_currency(@payment.amount, precision: 3) %>
    </p>
    <p>
      <strong><%= Payment.human_attribute_name 'estimated_amount' %></strong>
      <%= estimated_amount_in_percentage(@payment) %>
    </p>
    <p>
      <strong><%= Payment.human_attribute_name 'amount_per_notice' %></strong>
      <%= number_to_currency(amount_per_notice(@payment), precision: 3) %>
    </p>
    <p>
      <strong><%= Payment.human_attribute_name 'total_estimated_amount' %></strong>
      <%= number_to_currency(total_estimated_amount(@payment), precision: 3) %>
    </p>
    <p>
      <strong><%= Payment.human_attribute_name 'residual_value_per_notice' %></strong>
      <%= number_to_currency(residual_value_per_notice(@payment), precision: 3) %>
    </p>
    <p>
      <strong><%= Payment.human_attribute_name 'period_rate' %></strong>
      <%= @payment.period_rate %>
    </p>
    <p>
      <strong><%= Payment.human_attribute_name 'net_value' %></strong>
      <%= @payment.net_value %>
    </p>
    <p>
      <strong><%= Payment.human_attribute_name 'income_value' %></strong>
      <%= number_to_currency(income_value(@payment), precision: 3) %>
    </p>
    <p>
      <strong><%= Payment.human_attribute_name 'total_value' %></strong>
      <%= number_to_currency(total_value(@payment), precision: 3) %>
    </p>
    <p>
      <strong><%= Payment.human_attribute_name 'duration' %></strong>
      <%= number_to_currency(duration(@payment), precision: 3) %>
    </p>
    <p>
      <strong><%= Payment.human_attribute_name 'mduration' %></strong>
      <%= number_to_currency(mduration(@payment), precision: 3) %>
    </p>
