<div class="readonly-data">
  <h2>
    <%= @fund.name %>
  </h2>

  <div class="row">
    <div class="span12">
      <table class="table resource-list">
        <thead>
          <tr>
            <th><%= Fund.human_attribute_name 'name' %></th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @fund.trust_funds.each do |trust_fund| %>
            <tr>
              <td><%= trust_fund.name %></td>
              <td><%= link_to_show trust_fund %></td>
              <td><%= link_to_edit edit_trust_fund_path(trust_fund) if can? :update, trust_fund %></td>
              <td><%= link_to_destroy trust_fund if can? :destroy, trust_fund %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

</div>
<div class="form-actions">
  <%= link_to t('label.edit'), edit_fund_path(@fund) if can? :update, @fund %> |
  <%= link_to t('label.list'), funds_path %>
</div>
